{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Вход в аккаунт</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
    <meta charset="utf-8">
	<body> 
		<h1 class="title">Вход в аккаунт</h1>		        			        	
		<div class="container">        
			<form> 
				<div class="form2">	
					<div>Логин</div>
					<input type="text" placeholder='логин' id="login">
				</div> 

				<div class="form2">
					<div>Пароль</div>
					<input type="password" placeholder='Пароль'  id="password">
				</div>

				<div class="form2">    
					<input type="reset">
					<input type = "button" value="Отправить" onclick="log()">
				</div>
			</form>	
		</div>
	</body>
	<script type="text/javascript" src="{% static 'javascript/main.js' %}">		
	</script>
</html>