
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Продукт</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <style>
    body {
        width: 50%;
        margin: auto;
    }
     img {
         width: 200px;
         height: 200px;
         padding: 10px;
         margin-right: 10px;
     }
 
     .product {
         display: flex;
         padding: 10px;
     }

     .grayText{
         color: gray;
     }
    </style>
</head>
    <meta charset="utf-8">
	<body> 
        <div class="product row">
            <div class="picture">  
                <img src="{% static product.imagePath  %}"> 
            </div>
            <div class="data">    
                <div><h4>Информация о товаре:</h4></div>    
                <div><span class="grayText">Наименование:</span> {{ product.name }}</div> 
                <div><span class="grayText">Стоимость:</span> {{ product.prise}} грн.</div>
                <div><span class="grayText">Категория:</span> {{ product.category }}</div> 
                <div><span class="grayText">Дата добавления:</span> {{ product.date}}</div>
                
                <div><span class="grayText">Наличие:</span> 
                    {% if product.dostup == False %}
                    Нет
                    {% endif %} 
                    {% if product.dostup == True %}
                    Да
                    {% endif %} 
                </div>           
                <hr>
                <div><h4>Информация о производителе:</h4></div>
                <div><span class="grayText">Название предприятия:</span> {{ product.creator.name }}</div> 
                <div><span class="grayText">Адрес:</span> {{ product.creator.address }}</div>
                <div><span class="grayText">Телефон:</span> {{ product.creator.phone }}</div> 
            </div> 
        </div>
        <input class="btn btn-primary" id="buyButton" type="button" productId="{{ product.id }}" value="Купить">   
    </body>
    <script src="{% static 'javascript/product.js' %}"></script>
</html>